#wrap {
  min-height: 92%;
}

#main {
  overflow: hidden;
}

.desktop-tablet-only {
  display: none;
}

@media(max-width: $mobile){
  footer {
    margin-top: 70px;
  }
  .meta {
    font-size: 18px;
  }
}

.main-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  // margin-top: 80px;
  padding-right: 15px;
  padding-left: 15px;
}

.inner-section-divider-small {
  margin-bottom: 25px;
}

.inner-section-divider-medium {
  margin-bottom: 45px;
}

@media(max-width: $mobile){
  .main-container {
    margin-top: 20px;
  }
  .inner-section-divider-small {
    margin-bottom: 15px;
  }
  .inner-section-divider-medium {
    margin-bottom: 35px;
  }
}

.container-small {
  max-width: 322px;
  margin: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.stretch {
  width: 100%;
}

.flex {
  display: flex;

  align-items: flex-end;
  justify-content: space-between;
}

.w-3 {
  flex: 1;
  max-width: 250px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

fieldset {
  border: 0;
  padding: 1em 1em 1em 0;
}

@media(max-width: 2000px){
  .small-font {
    font-size: 10px;
  }
}
