.charge-field {
  flex: 2 0 8em;
  padding: 0.5em;
}

.flex button, .flex-button {
  flex: 1 0 4em;
  margin-bottom: 0.9em;
  font-size: 1.1em;
  height: 2.5em;
}

.flex button {
  margin-left: 0.5em;
}

.charge-field * {
  width: 100%;
  height: 2.5em;
  font-size: 1.1em;
  margin: 0.5em;
}