div.table {

  display: flex;
  flex-direction: column;
  text-align: center;

 .table-header {
    border-bottom: 1px solid #666;
    p {
      font-weight: bold;
      font-size: 105%; }}

  .table-body {
    max-height: 20em;
    overflow-y: scroll;
  }

  .table-row {

    display: flex;
    flex-direction: row;

    .table-entry {
      width: 2em;
      padding: 1%;
      // payment info
      &.date {
        flex: 3;
      }
      &.description {
        flex: 4;
      }
      &.charges {
        flex: 2;
      }
      &.payments {
        flex: 2;
      }
      &.balance {
        flex: 3;
      }
      &.reference {
        flex: 3;
      }
      &.notes {
        flex: 4;
      }
      &.delete {
        flex: 1;
      }
      // events table
      &.title {
        flex: 3;
      }
      &.time {
        flex: 3;
      }
      &.location {
        flex: 3;
      }
      &.host {
        flex: 3;
      }
      &.price-per-member {
        flex: 3;
      }
      &.price-per-guest {
        flex: 3;
      }
    }
  }
}
