div.table {

  display: flex;
  flex-direction: column;
  text-align: center;
  clear: both;

  &.events-table .table-body {
    .table-row:hover {
      background: #888;
    }
  }

  & > .table-row {
    border-bottom: 1px solid #666;
    p {
      font-weight: bold;
      font-size: 105%; }}

  .table-body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .table-row {

    display: flex;
    flex-direction: row;

    .table-entry {
      width: 2em;
      padding: 1%;
      flex: 1;
    }
  }

  .chosen {
    background-color: #888; }
}

@media (max-width: 400px) {
  div.table {

    display: flex;
    flex-direction: column;
    text-align: center;
    clear: both;

    .table-body {
      overflow-y: hidden;
      overflow-x: hidden;
      margin-top: 0.5em;
    }

    .table-row {

      display: flex;
      flex-direction: row;

      .table-entry {
        width: 1.5em;
        padding: 1%;
        flex: 1;
        p {
          font-size: 95%;
        }
      }
    }
  }
}
