div.table {

  display: flex;
  flex-direction: column;
  text-align: center;

  &.events-table .table-body {
    .table-row:hover {
      background: #888;
    }
  }

  .table-header {
    border-bottom: 1px solid #666;
    p {
      font-weight: bold;
      font-size: 105%; }}

  .table-body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .table-row {

    display: flex;
    flex-direction: row;

    .table-entry {
      width: 2em;
      padding: 1%;
    }
  }
}
