.new-member-container {
	background-color: #fff;
	width: 85%;
	text-align: left;
	padding-bottom: 50px;
	overflow: hidden;
	margin: auto auto 50px;

	h3 {
		margin-top: 10px;
		margin-left: 1px;
		margin-bottom: -34px;
	}

	input,
	select,
	textarea {
		margin-bottom: 10px;
	}

	button {
		max-width: 320px;
		height: 60px;
	}

	.checkbox {
		margin-left: 1px;
		margin-bottom: 20px;

		h3 {
			margin-top: 10px;
			margin-left: 1px;
			margin-bottom: 0;
		}
	}

	.sending-error {
		margin-left: 0.5em;
		margin-top: -0.2em;
	}

	.add-member-form-container {
		display: flex;

		.member-column-firstColumn,
		.member-column-secondColumn {
			margin-right: 1em;
		}
	}
}

.member-num {
	font-size: 1.5em;
	margin-top: -0.4em;
	margin-bottom: 0.5em;
}

.topSectionDividor {
	margin-bottom: 20px;
}

.add-member-home-button-container {
	margin-left: -0.24em;
	margin-top: 1em;

	button {
		margin-left: 0.1em;
	}
}
