$color: #ededed;

.full-screen-fixed {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #F6F6F6;
  text-align: center;
}

.overall-container {
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  background-color: #F6F6F6;
  display: flex;
  padding-right: 15px;
}

.content-container {
  width: 80%;
  height: 100%;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

#member-info {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  flex: 1;
  background-color: #fff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  overflow: scroll;
}

p {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 1;
}

.col-3 {
  flex: 1;
}

#member-info-edit {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  overflow: scroll;

  p {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .col-1 {
    flex: 1;
  }

  .col-2 {
    flex: 1;
  }

  .col-3 {
    flex: 1;
  }
}

.member-info-controls {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
}

.member-edit-buttons {
  margin-top: 2em;
}

.member-activation-control,
.member-cancel-button,
.member-save-button {
  width: 150px;
  float: right;
  margin-left: 15px;
}

.member-activation-control {
  @include red;
}

.member-column-address,
.member-column-membership,
.member-column-personal {
  flex: 1;
}

.member-info-content {
  display: flex;
  flex-direction: row;
  flex: 15;
}

#table-payments {
  width: 100%;
  flex: 1;
  background-color: #fff;
  margin: 0 10px 10px;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  .table-section-individual-header {
    display: flex;
    width: 100%;
    // height: 60px;
    text-align: center;

    p {
      font-size: 16px;
      font-weight: bold;
    }

    .col-1 {
      flex: 3;
    }

    .col-2 {
      flex: 4;
    }

    .col-3 {
      flex: 2;
    }

    .col-4 {
      flex: 2;
    }

    .col-5 {
      flex: 2;
    }

    .col-6 {
      flex: 3;
    }

    .col-7 {
      flex: 1;
    }
  }

  .table-section-individual-rows {
    .selected {
      background-color: #FFE5E5;
    }

    .row {
      display: flex;
      width: 100%;
      height: 50px;
      line-height: 45px;

      p {
        font-size: 13px;
        padding: 5px;
        text-align: center;
      }

      .col-1 {
        flex: 3;
      }

      .col-2 {
        flex: 4;
      }

      .col-3 {
        flex: 2;
      }

      .col-4 {
        flex: 2;
      }

      .col-5 {
        flex: 2;
      }

      .col-6 {
        flex: 3;
      }

      .col-7 {
        flex: 1;
        cursor: pointer;
      }
    }
  }
}

#search-result {
  max-width: 1000px;
  margin: auto;

  .search-table-section-member {
    width: 100%;
    background-color: #fff;
    padding: 10px;

    .search-table-section-member-header {
      width: 100%;
      display: flex;
      text-align: center;
      margin-bottom: 1.5em;
      align-items: center;
      justify-content: space-between;

      .col-1 {
        flex: 1 1 0;
      }

      .col-2 {
        flex: 1 1 0;
      }

      .col-3 {
        flex: 1 1 0;
      }

      .col-4 {
        flex: 1 1 0;
      }

      .col-5 {
        flex: 1 1 0;
      }

      .col-6 {
        flex: 1 1 0;
      }

      p {
        font-weight: bold;
        margin: 0;
      }
    }

    .search-table-section-member-rows {
      a {
        text-decoration: none;
        color: inherit;
      }

      .row {
        width: 100%;
        margin: 0;
        display: flex;
        height: 50px;
        line-height: 35px;
        text-align: center;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 15px;
        }

        .col-1 {
          flex: 1 1 0;
        }

        .col-2 {
          flex: 1 1 0;
        }

        .col-3 {
          flex: 1 1 0;
        }

        .col-4 {
          flex: 1 1 0;
        }

        .col-5 {
          flex: 1 1 0;
        }

        .col-6 {
          flex: 1 1 0;
        }
      }

      .row:hover {
        background-color: #eee;
      }
    }
  }
}

.email-bounced-section {
  .email-bounced-report-header {
    margin-left: 1em;
  }
}
@media print {
  .email-bounced-section {
    margin-top: 10mm;
    margin-left: 20mm;

    h2 {
      padding: 0;
      margin: 0;
    }
  }

  #search-result {
    .search-table-section-member {
      margin-top: -1mm;
      margin-left: -20mm;

      .search-table-section-member-header {
        display: none;
      }

      .search-table-section-member-rows {
        .row {
          margin: -8mm auto;

          p {
            font-size: 12px;
          }
        }

        .search-row:nth-child(29n) {
          page-break-after: always;
        }

        .search-row:nth-child(29n+30) {
          padding-top: 15mm;
        }
      }
    }
  }

  .member-analysis-form-container {
    display: none;
  }
}

.actions-container {
  width: 20%;
  height: 100%;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}

.member-type-section {
  background-color: #fff;
  width: 100%;
  height: 15%;
  margin: 10px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.delete-section {
  background-color: #fff;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.title-ctrl {
  justify-content: center;
  margin-bottom: 10px;
}

.body-ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.refund-section {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  width: 100%;
  margin: 10px 5px 5px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-1 {
    width: 80%;
  }

  .container-2 {
    overflow: hidden;
    width: 100%;
    margin: auto;
  }
}

.add-donation-section {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  width: 100%;
  margin: 5px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-1 {
    width: 80%;
  }

  .container-2 {
    margin: auto;
    width: 80%;
  }

  p {
    margin-bottom: 10px;
  }
}

.enter-payment-section {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  width: 100%;
  flex: 2;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

    input {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.input-one {
  float: left;
  width: 10%;
  margin-right: 15px;
}

.input-two {
  float: left;
  width: 20%;
  margin-right: 10px;
}

.input-three {
  width: 100%;
  margin-bottom: 9px;
}
@media (max-width: 1110px) {
  .input-three {
    width: 78%;
  }
}
@media (max-width: 960px) {
  .input-three {
    width: 75%;
  }
}
@media (max-width: 840px) {
  .input-three {
    width: 60%;
  }
}

div.gbp {
  width: 100%;
}

.input-four {
  width: 100%;
  margin-top: 10px;
}

.button-a {
  width: 15%;
  float: right;
  margin-left: 15px;
  max-width: 150px;
}

.button-b {
  width: 15%;
  float: right;
  max-width: 200px;
}

.full-width {
  width: 100%;
}

.margin-top-10 {
  margin-top: 10px;
}

#status-controls {
  display: flex;
  flex-direction: column;
  flex: 1;

  .member-type-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .delete-section {
    flex: 1;
  }
}

.add-donation-section {
  flex: 1;
}

.button-c {
  // color: red;
}

.mb10 {
  margin-bottom: 10px;
}

.w-full {
  width: 100%;
}

.login-error,
.search-error {
  text-align: center;
  margin: 1em;
}

.search-error {
  font-size: 3em;
}

.login-error {
  font-size: 1.8em;
}

.email {
  max-width: 1200px;

  ul {
    padding-left: 0;
  }
}

.email-preview {
  margin-bottom: 2em;
}

.email-toggle {
  display: inline-block;
  font-size: 1em;
  width: 8em;
  height: 2.8em;
  margin-left: 1.8em;
  margin-bottom: 1em;
}

.email-addressee {
  display: inline-block;
  width: 15em;
}

.email-list-toggle {
  margin: 0 1em 1.7em 0;
}

.email-button-disabled {
  opacity: 0.4;
}

.listed-email-addressee {
  list-style: none;
}

.send-button {
  margin: 0.3em;
  width: 12em;
  height: 2.5em;
}

.custom-email {
  height: 400px;
  width: 60vw;
  margin: 2em 0;
  font-size: 1em;
  line-height: 1.4em;
  color: black;
}

.custom-email-subject {
  color: black;
}

.sent-email-container {
  margin: 1em;
}

.custom-email-container {
  margin-top: 2em;
  margin-left: 0.6em;

  h3 {
    margin-bottom: 1em;
  }
}

.custom-email-page {
  margin: 2em 1em;
  display: flex;
}

.email-recipients {
  flex: 1;
  margin-right: 1.7em;

  .recipient-list {
    overflow-y: scroll;
    height: 65vh;
    margin-top: 2.2em;
    border-right: 1px solid #eeeeee;
    margin-right: 1em;
  }
}

.custom-email-preview {
  flex: 3;
}

.custom-email-button {
  margin: 0.5em 1em 0 0;
}

.listed-email {
  text-decoration: none;
  font-size: 1.2em;
  margin: 1em;
}

.email-recipient {
  list-style: none;
}

.bounced-container {
  margin-top: 2em;
}

.bounced-heading {
  margin-bottom: 1em;
}

.news-label {
  font-size: 1em;
  padding: 1em 1em 1em 3em;
}

.label-line:nth-last-child(1) {
  float: right;
  width: 4em;
}

.label-row td {
  width: 20em;
  height: 14em;
}
@media print {
  body {
    margin: 0 !important;
  }

  table:nth-child(2) {
    margin-top: -4mm;
  }

  .labels-tables {
    margin-left: -5mm;
    max-width: 195mm;
    min-width: 195mm;
    max-height: 280mm;
    min-height: 280mm;
    page-break-after: always;

    tr:first-child {
      margin-top: 10mm;
    }
  }

  .label-row {
    display: flex;
    justify-content: space-around;
  }

  .label-row td {
    max-width: 63mm;
    min-width: 63mm;
    max-height: 39mm;
    min-height: 39mm;
  }

  .labels-tables td div span {
    font-size: 9pt;
    line-height: 1mm;
  }

  .labels-tables td div {
    font-size: 9pt;
    line-height: 3mm;
  }
}

.edit-mode-info {
  margin-bottom: 0.3em;
  font-weight: bold;
}

.tabs {
  margin: 0.4em 0 0 1em;
}

.tabs-active {
  background-color: #999;
  color: #fff;
}

.email-components {
  margin-left: 1.7em;

  h3 {
    margin: 1em 0;
  }

  .reset-payments {
    margin-top: 2em;

    h2 {
      margin-bottom: 0.6em;
    }
  }
}

.button-container {
  max-width: 1200px;
}

.change-password-container {
  margin-left: 1.7em;
}
