$color: #ededed;

.full-screen-fixed {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #F6F6F6;
  text-align: center;
}

.overall-container {
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  background-color: #F6F6F6;
  display: flex;
  padding-right: 15px;
}

.content-container {
  width: 80%;
  height: 100%;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

#member-info {
  border-bottom: 1px solid #dbdbdb;
  // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  flex: 1;
  background-color: #fff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  overflow: scroll;
}

p {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 1;
}
.col-3 {
  flex: 1;
}

#member-info-edit {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  overflow: scroll;
  p {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 1;
  }
  .col-3 {
    flex: 1;
  }
}

.member-info-controls {
  display: flex;
  flex-direction: row-reverse;
}

.member-edit-buttons {
  margin-top: 2em;
}

.member-activation-control,
.member-cancel-button,
.member-save-button {
  width: 150px;
  float: right;
  margin-left: 15px;
}

.member-activation-control {
  @include red;
}

.member-column-personal
, .member-column-address
, .member-column-membership {
  flex: 1
}

.member-info-content {
  display: flex;
  flex-direction: row;
  flex: 15;
}

#table-payments {
  width: 100%;
  flex: 1;
  background-color: #fff;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  .table-section-individual-header {
    display: flex;
    width: 100%;
    // height: 60px;
    text-align: center;
    p {
      font-size: 16px;
      font-weight: bold;
    }
    .col-1 {
      flex: 3;
    }
    .col-2 {
      flex: 4;
    }
    .col-3 {
      flex: 2;
    }
    .col-4 {
      flex: 2;
    }
    .col-5 {
      flex: 2;
    }
    .col-6 {
      flex: 3;
    }
    .col-7 {
      flex: 1;
    }
  }
  .table-section-individual-rows {
    // height: 25em;
    // overflow: scroll;
    .selected {
      background-color: #FFE5E5;
    }
    .row {
      display: flex;
      width: 100%;
      height: 50px;
      line-height: 45px;
      p {
        font-size: 13px;
        padding: 5px;
        text-align: center;
      }
      .col-1 {
        flex: 3;
      }
      .col-2 {
        flex: 4;
      }
      .col-3 {
        flex: 2;
      }
      .col-4 {
        flex: 2;
      }
      .col-5 {
        flex: 2;
      }
      .col-6 {
        flex: 3;
      }
      .col-7 {
        flex: 1;
        cursor: pointer;
      }
    }
  }
}

#search-result {
  max-width: 1000px;
  margin: auto;
  .search-table-section-member {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
    // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    .search-table-section-member-header {
      width: 100%;
      display: flex;
      height: 60px;
      text-align: center;
      .col-1 {
        flex: 1.5;
      }
      .col-2 {
        flex: 3;
      }
      .col-3 {
        flex: 1;
      }
      .col-4 {
        flex: 1;
      }
      .col-5 {
        flex: 2;
      }
      .col-6 {
        flex: 2;
      }
    }
    .search-table-section-member-rows {
      // max-height: 300px;
      // overflow-y: scroll;
      a {
        text-decoration: none;
        color: inherit;
      }
      .row {
        width: 100%;
        display: flex;
        height: 35px;
        line-height: 35px;
        text-align: center;
        p {
          font-size: 15px;
        }
        .col-1 {
          flex: 1.5;
        }
        .col-2 {
          flex: 3;
        }
        .col-3 {
          flex: 1;
        }
        .col-4 {
          flex: 1;
        }
        .col-5 {
          flex: 2;
        }
        .col-6 {
          flex: 2;
        }
      }
      .row:hover {
        background-color: #eee;
      }
    }
  }
}


.actions-container {
  width: 20%;
  height: 100%;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}

.member-type-section {
  background-color: #fff;
  width: 100%;
  height: 15%;
  margin: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.delete-section {
  background-color: #fff;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.title-ctrl {
  justify-content: center;
  margin-bottom: 10px;
}

.body-ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.refund-section {
  border-bottom: 1px solid #dbdbdb;
  // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  margin: 5px;
  margin-top: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  .container-1 {
    width: 80%;
  }
  .container-2 {
    overflow: hidden;
    width: 100%;
    margin: auto;
  }
}

.add-donation-section {
  border-bottom: 1px solid #dbdbdb;
  // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  margin: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container-1 {
    width: 80%;
  }
  .container-2 {
    margin: auto;
    width: 80%;
  }
  p {
    margin-bottom: 10px;
  }
}

.enter-payment-section {
  border-bottom: 1px solid #dbdbdb;
  // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  flex: 2;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container-1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    input {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.input-one {
  float: left;
  width: 10%;
  margin-right: 15px;
}

.input-two {
  float: left;
  width: 20%;
  margin-right: 10px;
}

.input-three {
  width: 100%;
  margin-bottom: 9px;
}

@media (max-width: 1110px) {
  .input-three {
    width: 78%;
  }
}

@media (max-width: 960px) {
  .input-three {
    width: 75%;
  }
}

@media (max-width: 840px) {
  .input-three {
    width: 60%;
  }
}

div.gbp {
    width: 100%;
}

.input-four {
  width: 100%;
  margin-top: 10px;
}

.button-a {
  width: 15%;
  float: right;
  margin-left: 15px;
  max-width: 150px;
}

.button-b {
  width: 15%;
  float: right;
  max-width: 200px;
}

.full-width {
  width: 100%;
}

.margin-top-10 {
  margin-top: 10px;
}

#status-controls {
  display: flex;
  flex-direction: column;
  flex: 1;
  .member-type-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .delete-section {
    flex: 1;
  }
}

.add-donation-section {
  flex: 1;
}

.button-c {
  // color: red;
}

.mb10 {
  margin-bottom: 10px;
}

.w-full {
  width: 100%;
}

.search-error, .login-error {
  text-align: center;
  margin: 1em;
}

.search-error {
  font-size: 3em;
}

.login-error {
  font-size: 1.8em;
}

.email {
  width: 80%;
}

.email-toggle {
  display: inline-block;
  font-size: 1em;
  width: 8em;
  height: 2.5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.email-addressee {
  display: inline-block;
  width: 15em
}

.email-list-toggle {
  margin: 0 1em 1.7em 0;
}

.listed-email-addressee {
  list-style: none;
}

.send-button {
  margin: 0.3em;
  width: 12em;
  height: 2.5em;
}

.custom-email {
  height: 400px;
  width: 60vw;
  margin: 2em 0;
  font-size: 1em;
  line-height: 1.4em;
  color: black;
}

.custom-email-subject {
  color: black;
}

.sent-email-notification {
  font-size: 1.5em;
  margin: 3em 0 0 1em;
}

.custom-email-container {
  margin: 4em 1em;
  p {
    margin: 1.5em 0;
    font-size: 1.3em;
  }
}

.custom-email-preview {
  margin: 2em 1em;
}

.custom-email-button {
  margin: 0.5em 1em 0 0;
}

.bounced-email {
  text-decoration: none;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

.email-recipient {
  list-style: none;
}

.email-recipients {
  margin: 0.5em 0.5em 1.5em 0;
}

.bounced-container {
  margin: 2em 2em;
}

.bounced-heading {
  margin-bottom: 1em;
}

.news-label {
  font-size: 1em;
  padding: 1em;
}

.label-line:nth-last-child(1) {
  float: right;
  width: 4em;
}

.labels-tables {
  margin: 2em 2em;
}

@media print {
  body {
    margin-top: 0 !important;
  }

  .label-row {
    vertical-align: top;
    line-height: 4mm;
    min-height: 30mm;
    max-height: 30mm;
  }

  .label-row td {
    min-height: 39mm;
    max-height: 39mm;
    height: 39mm;
  }

  .news-label {
    padding: 4mm 1mm 4mm 3mm;
    width: 70mm;
    border: solid transparent;
  }

  .labels-tables {
    margin: 0mm 2mm;
    padding: 6mm 2mm 0mm 2mm;
    border: solid transparent;
    page-break-after: always;
    height: 28cm;
  }

  .labels-tables td div span {
    font-size: 9pt;
    line-height: 1mm;
  }

  .labels-tables td div {
    font-size: 9pt;
    line-height: 3mm;
  }
}
