$color: #ededed;

.full-screen-fixed {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
	background-color: #F6F6F6;
	text-align: center;
}

.overall-container {
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 60px;
	background-color: #F6F6F6;
	display: flex;
	padding-right: 15px;
}

.content-container {
	width: 80%;
	height: 100%;
	background-color: #F6F6F6;
	display: flex;
	flex-direction: column;
	padding-right: 15px;
}

#member-info {
	border-bottom: 1px solid #dbdbdb;
	// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	flex: 1;
	background-color: #fff;
	margin: 10px;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 20px;
	overflow: scroll;
}

p {
	font-size: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.col-1 {
	flex: 1;
}
.col-2 {
	flex: 1;
}
.col-3 {
	flex: 1;
}

#member-info-edit {
	width: 100%;
	height: 100%;
	background-color: #fff;
	margin: 10px;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 20px;
	overflow: scroll;
	p {
		font-size: 15px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.col-1 {
		flex: 1;
	}
	.col-2 {
		flex: 1;
	}
	.col-3 {
		flex: 1;
	}
}

.member-info-controls {
	display: flex;
	flex-direction: row-reverse;
}

.member-edit-buttons {
  margin-top: 2em;
}

.member-activation-control,
.member-cancel-button,
.member-save-button {
  width: 150px;
  float: right;
  margin-left: 15px;
}

.member-activation-control {
  @include red;
}

.member-column-personal
, .member-column-address
, .member-column-membership {
  flex: 1
}

.member-info-content {
	display: flex;
	flex-direction: row;
	flex: 15;
}

#table-payments {
	width: 100%;
	flex: 1;
	background-color: #fff;
	margin: 10px;
	margin-top: 0;
	padding: 10px;
	border-bottom: 1px solid #dbdbdb;
	// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	.table-section-individual-header {
		display: flex;
		width: 100%;
		// height: 60px;
		text-align: center;
		p {
			font-size: 16px;
			font-weight: bold;
		}
		.col-1 {
			flex: 3;
		}
		.col-2 {
			flex: 4;
		}
		.col-3 {
			flex: 2;
		}
		.col-4 {
			flex: 2;
		}
		.col-5 {
			flex: 2;
		}
		.col-6 {
			flex: 3;
		}
		.col-7 {
			flex: 1;
		}
	}
	.table-section-individual-rows {
		// height: 25em;
		// overflow: scroll;
		.selected {
			background-color: #FFE5E5;
		}
		.row {
			display: flex;
			width: 100%;
			height: 50px;
			line-height: 45px;
			p {
				font-size: 13px;
				padding: 5px;
				text-align: center;
			}
			.col-1 {
				flex: 3;
			}
			.col-2 {
				flex: 4;
			}
			.col-3 {
				flex: 2;
			}
			.col-4 {
				flex: 2;
			}
			.col-5 {
				flex: 2;
			}
			.col-6 {
				flex: 3;
			}
			.col-7 {
				flex: 1;
				cursor: pointer;
			}
		}
	}
}

#search-result {
	max-width: 1000px;
	margin: auto;
	.search-table-section-member {
		width: 100%;
		background-color: #fff;
		padding: 10px;
		border-bottom: 1px solid #dbdbdb;
		// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
		.search-table-section-member-header {
			width: 100%;
			display: flex;
			height: 60px;
			text-align: center;
			.col-1 {
				flex: 1.5;
			}
			.col-2 {
				flex: 3;
			}
			.col-3 {
				flex: 1;
			}
			.col-4 {
				flex: 1;
			}
			.col-5 {
				flex: 2;
			}
			.col-6 {
				flex: 2;
			}
		}
		.search-table-section-member-rows {
			// max-height: 300px;
			// overflow-y: scroll;
			a {
				text-decoration: none;
				color: inherit;
			}
			.row {
				width: 100%;
				display: flex;
				height: 35px;
				line-height: 35px;
				text-align: center;
				p {
					font-size: 15px;
				}
				.col-1 {
					flex: 1.5;
				}
				.col-2 {
					flex: 3;
				}
				.col-3 {
					flex: 1;
				}
				.col-4 {
					flex: 1;
				}
				.col-5 {
					flex: 2;
				}
				.col-6 {
					flex: 2;
				}
			}
			.row:hover {
				background-color: #eee;
			}
		}
	}
}


.actions-container {
	width: 20%;
	height: 100%;
	background-color: #F6F6F6;
	display: flex;
	flex-direction: column;
}

.member-type-section {
	background-color: #fff;
	width: 100%;
	height: 15%;
	margin: 5px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
}

.delete-section {
	background-color: #fff;
	width: 100%;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
}

.title-ctrl {
	justify-content: center;
	margin-bottom: 10px;
}

.body-ctrl {
	display: flex;
	align-items: center;
	justify-content: center;
}

.refund-section {
	border-bottom: 1px solid #dbdbdb;
	// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	width: 100%;
	margin: 5px;
	margin-top: 10px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	.container-1 {
		width: 80%;
	}
	.container-2 {
		overflow: hidden;
		width: 100%;
		margin: auto;
	}
}

.add-donation-section {
	border-bottom: 1px solid #dbdbdb;
	// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	width: 100%;
	margin: 5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	.container-1 {
		width: 80%;
	}
	.container-2 {
		margin: auto;
		width: 80%;
	}
	p {
		margin-bottom: 10px;
	}
}

.enter-payment-section {
	border-bottom: 1px solid #dbdbdb;
	// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	width: 100%;
	flex: 2;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	.container-1 {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: auto;
		input {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

.input-one {
	float: left;
	width: 10%;
	margin-right: 15px;
}

.input-two {
	float: left;
	width: 20%;
	margin-right: 10px;
}

.input-three {
	width: 100%;
	margin-bottom: 9px;
}

@media (max-width: 1110px) {
	.input-three {
		width: 78%;
	}
}

@media (max-width: 960px) {
	.input-three {
		width: 75%;
	}
}

@media (max-width: 840px) {
	.input-three {
		width: 60%;
	}
}

div.gbp {
    width: 100%;
}

.input-four {
	width: 100%;
	margin-top: 10px;
}

.button-a {
	width: 15%;
	float: right;
	margin-left: 15px;
	max-width: 150px;
}

.button-b {
	width: 15%;
	float: right;
	max-width: 200px;
}

.full-width {
	width: 100%;
}

.margin-top-10 {
	margin-top: 10px;
}

#status-controls {
	display: flex;
	flex-direction: column;
	flex: 1;
	.member-type-section {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	.delete-section {
		flex: 1;
	}
}

.add-donation-section {
	flex: 1;
}

.button-c {
	// color: red;
}

.mb10 {
	margin-bottom: 10px;
}

.w-full {
	width: 100%;
}

.search-error, .login-error {
  text-align: center;
  margin: 1em;
}

.search-error {
  font-size: 3em;
}

.login-error {
  font-size: 1.8em;
}
