.top-letter-container {
  li {
    list-style: none;
  }
}

.letter-page {
  .letter, .letter * {
    font-size: larger;
  }
  h1, h3 {
    text-align: center;
  }

  h3 {
    font-size: medium;
    margin-bottom: 10px;
  }
}

.header {
  position: relative;
}


.receiver-address {
  float: left;
}

.sender-address {
  float: right;
  text-align: right;
}

.letter {
  clear: both;
  padding-top: 1em;
  text-align: justify;
}

.letter-page {
  width: 80%;
  max-width: 800px;
  height: 1000px;
  padding: 80px;
  border: solid black 1px;

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 12px;
    margin-top: 2em;
    margin-bottom: 30px;
  }

  .addresses {
    margin-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .sender-address, .sender-address * {
    font-size: 12px;
  }

  .receiver-address, .receiver-address * {
    font-size: 16px;
  }

  *, .letter.letter * {
    font-size: 16px;
  }

  .letter p {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .letter-greeting {
    margin-bottom: 25px;
  }

  .letter span {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .letter-logo {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 2.93cm;
  }

  .letter-footer {
    margin-top: 50px;
    page-break-after: always;
  }
}

@media print {
  /* Remove url and date from top and bottom of printed page */
  @page {
     size: auto;
     margin: 0mm;
   }

  button {
    display: none;
  }

  button {
    display: none;
  }

  .letter-page {

    margin-top: 100px;

    border: none;
    padding: 10px;
    h1 {
      font-size: 24px;
    }

    h3 {
      font-size: 12px;
      margin-top: 2em;
    }

    .addresses {
      margin-top: 1.5em;
      padding-bottom: 1.5em;
    }

    .sender-address, .sender-address * {
      font-size: 12px;
    }

    .receiver-address, .receiver-address * {
      font-size: 16px;
    }

    *, .letter.letter * {
      font-size: 16px;
    }

    .letter p {
      margin-top: 7px;
      margin-bottom: 7px;
    }

    .letter span {
      margin-top: 3px;
      margin-bottom: 3px;
    }

    .letter-logo {
      top: 0em;
      right: -1em;
    }

    .letter-footer {
      page-break-after: always;
    }
  }
}
