.top-letter-container {
  li {
    list-style: none;
  }

  .letter-components {
    margin-left: 1.7em;
  }
}

.letters-tab {
  margin-right: 2em;
  margin-bottom: 1em;
}

.letters-tab-active {
  background-color: #999;
  color: #fff;
}

.letters-toggle {
  margin-top: 30px;
}

.sub-letters-header {
  margin-left: 50px;
  margin-top: 60px;
  font-size: 20px;
  font-style: italic;
}

.letter-list-container {
  display: inline-block;
}

.letter-list {
  padding: 0;

  .page-break {
    page-break-after: always;
    color: rgba(0,0,0,0) !important;
    height: 0;
    margin: 0;
    border: 0;
  }
}

.letter-list > div:not(:first-child) {
  display: none;
}

.letter-recipients {
  margin-top: 40px;
  margin-left: 50px;
  display: inline-block;
  vertical-align: top;
}

.letter-recipients li {
  font-size: 21px;
  margin-bottom: 10px;
}

.clickable-letter-recipient {
  cursor: pointer;
}

.letter-page {
  .letter,
  .letter * {
    font-size: larger;
  }

  h1,
  h3 {
    text-align: center;
  }

  h3 {
    font-size: medium;
    margin-bottom: 10px;
  }
}

.header {
  position: relative;
}

.receiver-address {
  float: left;
}

.sender-address {
  float: right;
  text-align: right;
}

.letter {
  clear: both;
  padding-top: 1px;
  text-align: justify;
}

.letter-page {
  width: 80%;
  max-width: 800px;
  padding: 80px;
  border: solid black 1px;
  margin: 40px 80px 80px;

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 12px;
    margin-top: 2em;
    margin-bottom: 30px;
  }

  .addresses {
    margin-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .sender-address,
  .sender-address * {
    font-size: 12px;
  }

  .receiver-address,
  .receiver-address * {
    font-size: 16px;
  }

  *,
  .letter.letter * {
    font-size: 16px;
  }

  .letter p {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .letter-greeting {
    margin-bottom: 6px;
  }

  .letter span {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .letter-logo {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 2.93cm;
  }

  .letter-footer {
    margin-top: 50px;
  }
}
@media print {
  /* Remove url and date from top and bottom of printed page */
  @page {
    size: auto;
    margin: 25pt;
  }
  /* this border fixes a blank first page printing bug on chrome */
  * {
    border: 0.1px solid transparent;
  }
  .admin-wrapper {
    margin: 0 !important;
  }
  .top-letter-container {
    .letter-components {
      margin-left: 0;
    }
  }

  .letter-list-container {
    display: inline;
  }

  body {
    height: auto;
  }

  button {
    display: none;
  }

  .letter-list > div:not(:first-child) {
    display: block;
  }

  .sub-letters-header {
    display: none;
  }

  .letter-recipients {
    display: none;
  }

  .letter-page {
    line-height: 19px;
    overflow: visible;
    margin-top: 40px;
    border: none;
    padding: 0;
    display: inline-block;
    page-break-before: always;

    h1 {
      font-size: 24px;
    }

    h3 {
      font-size: 12px;
      margin-top: 15px;
      margin-bottom: 0;
    }

    .addresses {
      margin-top: 1.5em;
      padding-bottom: 1.5em;
    }

    .sender-address,
    .sender-address * {
      font-size: 12px;
      line-height: 14px;
    }

    .receiver-address,
    .receiver-address * {
      font-size: 13px;
      line-height: 14px;
    }

    *,
    .letter.letter * {
      font-size: 16px;
    }

    .letter p {
      margin-top: 7px;
      margin-bottom: 7px;
    }

    .letter span {
      margin-top: 3px;
      margin-bottom: 3px;
    }

    .letter-logo {
      top: 0;
      right: -10px;
    }

    .letter-footer {
      break-after: always;
    }
  }
}

.date-boundaries-form {
  margin-top: 2em;

  button {
    display: block;
    margin-top: 0.6em;
  }
}

.date-boundaries-form div span {
  margin-right: 0.5em;
}
