.member-analysis-tabs-container {
  margin: 1em;
}

.member-analysis-tab {
      margin: 0.4em 0 0 1em;
}

.member-analysis-form-container {
  margin-left: 2em;
}

.member-analysis-dropdown {
  margin-bottom: 1em;
  margin-right: 1em;
}

.member-analysis-form {
  display: flex;
}
