.member-analysis-tabs-container {
  margin: 1em;
}

.member-analysis-tab {
  margin: 1em;
}

.member-analysis-form-container {
  margin-left: 2em;
}

.member-analysis-dropdown {
  margin-bottom: 1em;
}
