.report-options {
  text-align: center;
}

.report-options > a {
  font-size: larger;
  margin: 3em;
}

.search-options {
  justify-content: flex-start
}

.search-options > div {
  margin-right: 1em;
}

@media print {
  .search-options, .navigation, footer { display: none !important }
  .table-body { overflow: visible !important }
  .table-row { page-break-inside: avoid }
  body { font-size: 0.8em !important }
}
