.reports-container {
  .main-container {
    margin-left: 1em;
  }
  .payment-reports-button {
    margin: 0;
    font-size: 1.7em;
  }
}
.report-options {
  text-align: center;
}

.report-options > a {
  font-size: larger;
  margin: 3em;
}

.search-options {
  justify-content: flex-start;
  padding-bottom: 0.4em;
}

.search-options > * {
  margin-top: 1em;
  margin-right: 1em;
}

@media print {
  .table { display: inline !important }
  .table.table.table.table * { font-size: 14px; }
  .table-body { overflow: visible !important }
  .table-row { page-break-inside: avoid }
}

@media print {
  .search-options, .navigation, footer { display: none !important }
  body, body * { color: black; }
}
