.navbar-toggle.navbar-toggle {
  border: none;
  max-width: 3em;
  float: left;
  margin-left: 1em;
}

nav {
  .container {
    margin-left: 0;
  }
}

.user-content {
  width: 90%;
  margin-left: 20px;
}
