.navbar-toggle.navbar-toggle {
  border: none;
  max-width: 3em;
  float: left;
  margin-left: 1em;
}

nav {
  .container {
    margin-left: 0;
  }
}

.user-content {
  width: 90%;
  margin-left: 20px;
}

.member-view-edit-buttons {
  display: flex;
  margin-top: 1em;
}

.member-view-save-button {
  margin-right: 1em;
}

.error-message {
  margin: 0.5em 0;
}

.input-title {
  margin: 0.5em 0;
}

.change-password-inputs {
  margin: 0.5em 0;
}
