@import "variables";
@import "mixins";
@import "base/_fonts";
@import "components/_button";
@import "components/_charge-field";
@import "components/_input";
@import "components/_line";
@import "components/_helpers";
@import "components/_progress-bar";
@import "components/_table";
@import "features/_navbar";
@import "features/_messenger";
@import "layout/specifics";
@import "layout/footer";
@import "pages/_create-member";
@import "pages/_index";
@import "pages/_letter";
@import "pages/_maintenance";
@import "pages/_paypal";
@import "pages/_reports";
@import "pages/_search-member";
@import "pages/_sign-up";
@import "pages/_upload";
@import "pages/_view-account";
@import "pages/_view-member.scss";
@import "pages/_user-view.scss";
@import "pages/_change-password.scss";
@import "pages/_member-analysis.scss";

* {
	box-sizing: border-box;
	font-family: $font-family;
}

body,
html {
	font-family: $font-family;
	color: #444;
	margin: 0;
	height: 100%;
}

input::-webkit-input-placeholder {
	font-family: 'Sorts Mill Goudy', serif;
}

input:-ms-input-placeholder {
	font-family: 'Sorts Mill Goudy', serif;
}

input:-moz-placeholder {
	font-family: 'Sorts Mill Goudy', serif;
}

input::-moz-placeholder {
	font-family: 'Sorts Mill Goudy', serif;
}

.admin-wrapper {
	margin: 0 0 2em 1em;
}
