@import "variables";
@import "base/_fonts";
@import "components/_button";
@import "components/_input";
@import "components/_line";
@import "components/_helpers";
@import "components/_progress-bar";
@import "components/_table";
@import "features/_navbar";
@import "features/_messenger";
@import "layout/specifics";
@import "layout/footer";
@import "pages/_create-member";
@import "pages/_index";
@import "pages/_search-member";
@import "pages/_upload";
@import "pages/_sign-up";
@import "pages/_view-account";
@import "pages/_view-event";
@import "pages/_maintenance";
@import "pages/_paypal";


* {
	margin: -1px;
	padding: 0px;
	box-sizing: border-box;
	font-family: $font-family;
}

html, body{
	font-family: $font-family;
	// background: #f4f4f7;
	color: #444;
	margin: 0;
	height: 100%;
}

input::-webkit-input-placeholder {
		font-family: 'Sorts Mill Goudy', serif;
}

input:-ms-input-placeholder {
		font-family: 'Sorts Mill Goudy', serif;
}

input:-moz-placeholder {
		font-family: 'Sorts Mill Goudy', serif;
}

input::-moz-placeholder {
		font-family: 'Sorts Mill Goudy', serif;
}
