p {
	font-weight: 200;
	font-size: 24px;
}

h2 {
	margin-bottom: 10px;
}

@media (max-width: 1700px) {
	p {
		font-weight: 200;
		font-size: 22px;
	}
}

@media (max-width: 1500px) {
	p {
		font-weight: 200;
		font-size: 19px;
	}
}

.info {
	font-weight: bold;
}

body, html, p, h1, h2, h3, h4, h5, h6, h7, h8, input, button, div, a {
  font-family: 'Sorts Mill Goudy', serif;
}
