%button {
	font-size: $p-font-size-desktop;
	font-weight: 100;
	display: inline-block;
	margin-bottom: 0; // For input.btn
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #eee;
	color: #999;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	white-space: nowrap;
	padding: 11px 12px;
	height: 60px;
	border: 0px;
	border-radius: 2px;
	width: 100%;
	max-width: 350px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	&:hover {
		background-color: #999;
		color: #fff;
		border: none;
		text-decoration: none;
	}
	&:active {
		background-color: #333;
		color: #fff;
		border: none;
		outline: none;
	}
	&:focus {
		outline: 0;
	}
}

button {
	@extend %button;
}

@media (max-width: $mobile) {
	%button {
		height: 50px;
		font-size: $p-font-size-mobile;
	}
}

.button-one {
	@extend %button;
	color: #fff;
	background-color: #333;
	border: none;
	width: 48%;
	&:hover {
		background-color: #999;
	}	
	&:active {
		background-color: #333;	
	}	
}	

.button-two {
	@extend %button;
	background-color: #eee;
	color: #999;
	border: 1px solid #ccc;
	width: 48%;
	&:hover {
		background-color: #999;
		color: #fff;
		border: none;
	}
	&:active {
		background-color: #333;
		color: #fff;
		border: none;
	}	
}

.red {
	background-color: #ffe5e5;
	&:hover {
		background-color: #ff7f7f;
	}	
	&:active {
		background-color: #ffe5e5;	
	}	
}