%input {
	font-family: 'Andika', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #999;
	display: block;
	border: 1px solid #ccc;
	padding-left: 10px;
	padding-top: 2px;
	padding-right: 10px;
	outline: 0px;
	width: 320px;
	height: 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
} 

input {
	@extend %input;
}

@media (max-width: 1700px) {
	%input {
		height: 40px;
	}
}

textarea {
	@extend %input;
	height: 100px;
	width: 500px;
	resize: none;
	padding-top: 10px;
}

*::-webkit-input-placeholder {
    color: #ccc;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #ccc;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #ccc;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}

select {
	display: block;
	font-size: 15px;
	color: #999;
	font-weight: 100;
	display: block;
	border: 1px solid #ccc;
	padding-left: 10px;
	padding-top: 2px;
	padding-right: 10px;
	outline: 0px;
	-webkit-appearance: none;
	height: 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: white;
	border-radius: 0px;
}

@media (max-width: 1700px) {
	select {
		height: 40px;
	}
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

label:before {
    content: "";
    display: inline-block;
 
    width: 16px;
    height: 16px;
 
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

// input[type=checkbox] {
//     display: none;
// }

.checkbox label:before {
    border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

.file-upload {
    width: 35%;
    position: relative;
    overflow: hidden;
    margin: 10px;
 	border-radius: 2px;
 	padding: 1em 2em;
    background-color: #eee;
    color: #999;
    border: 1px solid #ccc;
    height: 55px;
    &:hover {
        background-color: #999;
        color: #fff;
        border: none;
    }
    &:active {
        background-color: #333;
        color: #fff;
        border: none;
    }
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.input-width {
    width: 320px;
}

.right {
    float: right;
}

.w-100 {
    width: 100px;
}

.w-200 {
    width: 200px;
}