@import "base/fonts";
@import "components/button";
@import "components/input";
@import "features/navbar";
@import "layout/specifics";
@import "pages/create-member";
@import "pages/index";
@import "pages/search-member";
@import "pages/upload";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Sorts Mill Goudy', serif
}

body{
  font-family: "Helvetica";
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

h1{
  font-size: 40px;
  line-height: 1.2em;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}

input::-webkit-input-placeholder {
    font-family: 'Sorts Mill Goudy', serif;
}

input:-ms-input-placeholder {
    font-family: 'Sorts Mill Goudy', serif;
}

input:-moz-placeholder {
    font-family: 'Sorts Mill Goudy', serif;
}

input::-moz-placeholder {
    font-family: 'Sorts Mill Goudy', serif;
}