form#checkout {
    width: 25%;
    margin: 5em auto;
    input {
        cursor: pointer; 
    }
    input.disabled {
        cursor: default; 
        background-color: #bbb;
        color: #ccc;
    }
}
