.event {
	border: 1px solid #eee;
	padding: 10px;
}

.image {
	height:100px;
	background-position:center center; 
	background-size:cover; 
	opacity: 0.9;
}

.positive {
	background-color: rgba(82, 148, 70, 0.76);
	color: #fff;
	border: 0px;
}

.negative {
	background-color: #eee;
	color: #000;
	border: 0px;
}

.event-img {
	width: 100%;
}

.event-info {
	height: 30px;
	.date {
		float: left;
	}
	.ref {
		float: right;
	}
	.open {
		float: left;
	}
	.available {
		float: right;
	}
}

.event-img {
	width: 100%;
	height: 400px;
	background-position: center;
  	background-size: cover;
}

@media (max-width: $tablet) {
	.event-img {
		height: 300px;
	}
}

@media (max-width: $mobile) {
	.event-img {
		height: 200px;
	}
}

@media (max-width: $mobile) {
	.event-info {
		.open, .available {
			float: initial;
		}
	}
}

.single-event-info {
	border-top: 1px solid #eee;
	overflow: auto;
	display: block;
	.item {
		display: inline;
		overflow: auto;
		float: left;
	}
	.status {
		display: inline;
		overflow: auto;
		float: right;
	}
}

.special {
    height: 60px;
    line-height: 60px;
}

.float-right {
	float: right;
	width: 100px;
	text-align: right;
}

.line {
	border: 1px solid #eee;
}

.name-events {
	height: 100px;
}

